* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2f/Hubble_ultra_deep_field.jpg");
    background-position: center;
    background-size: 75%;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  h1 img {
    width: 250px;
    height: auto;
  }
  
  
  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .character-select {
    width: 45%;
  }
  
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #af4c98;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 0 auto;
    display: block;
    
  }

  button:hover {
    background-color: #ed8acf; 
    color: white;
  }
  
  .comparison-results {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .comparison-results h2 {
    margin-bottom: 10px;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; }
  
    
#character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#character-info h3 {
  margin-bottom: 10px;
}

#character-info img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}




.char_image {
  
  display: flex;
}

.left, .right {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}

@media (max-width: 767px) {
  .left, .right {
    width: 100%;
  }
}

.character-image_2 {
  margin-left: 50%;
}



.char_info {
  display: flex;
  flex-wrap: wrap;
}

.left, .right {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}

@media (max-width: 767px) {
  .left, .right {
    width: 100%;
  }
}

.character-info_2 {
  margin-left: 50%;
}

.char_image {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}